#~ {"path":"*","teams":{"@cbhq/ui-systems-eng-team":{"required_reviews":1}}}
* @cbhq/ui-systems-eng-team

# Illustrations owners
#~ {"path":"packages/illustrations/manifest.json","teams":{"@cbhq/ui-systems-illustrators":{"required_reviews":1}}}
packages/illustrations/manifest.json @cbhq/ui-systems-illustrators

# Icons owners
#~ {"path":"packages/icons/manifest.json","teams":{"@cbhq/ui-systems-illustrators":{"required_reviews":1}}}
packages/icons/manifest.json @cbhq/ui-systems-illustrators
